@model Musica.Models.User

@{
    ViewBag.Title = "Create";
}
    <div class="masthead">
        <div class="masthead-content space">
            <div class="container">
                <h2>REGISTRO USUARIO</h2>


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal ">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.StartSuscription, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="date" name="StartSuscription" value="" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-primary btn-primary" value="Crear" />
                                <a href="@Url.Action("Index", "Home")" class="btn btn-danger btn-primary">Regresar</a>
                            </div>
                        </div>
                    </div>
                }



                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
                </div>
</div>
</div>